<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
    <style>
        #result {
            visibility: hidden;
        }
        #box{
            visibility: hidden;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Permutaion Form</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark rgba-blue-strong justify-content-center animated wobble"
    style="font-family: 'Fira Sans', sans-serif;">
    <a class="navbar-brand animated fadeInDown" href="#">Word Permutation and Combination Sorting App</a>
</nav>
<div class="container">
    <div class="row mb-5">
        {% if not word %}
        <div class="col-sm-12 col-md-6 offset-3 mt-5">
            <form method="POST" class="animated flipInY">
                {% csrf_token %}
                <div class="form-group text-white text-uppercase">
                    {{form}}
                </div>
                <button id="submit" class="btn btn-sm btn-primary">GO</button>
            </form>
        </div>
        {% else %}
        <div class="col-sm-12 col-md-6 mt-5">
            <form method="POST" class="animated flipInY" style="font-family: 'Fira Sans', sans-serif;">
                {% csrf_token %}
                <div class="form-group text-white text-uppercase">
                    {{form}}
                </div>
                <button id="submit" class="btn btn-sm btn-primary">GO</button>
            </form>
        </div>
        {% endif %}
        <div class=" col-sm-8 col-md-4 offset-md-2 mt-5">
            <!-- Results -->
            {% if word %}
            <h5 class="text-white">Possible outcomes: {{count}}</h5>
            <div id="box" class="border rounded animated bounce shadow-lg border border-primary" style="position: relative; height: 400px; margin-top: .5rem; overflow: auto" data-spy="scroll"
                data-target="#navbar-example2" data-offset="0">
                <ul class="list-group list-group-flush" id="result">
                    {% for item in word %}
                    <li class="list-group-item list-group-item-action list-group-primary"><strong>{{item}}</strong></li>
                    {% endfor %}
                </ul>
            </div>
            {% else %} {% endif %}
        </div>
    </div>
</div>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('#id_word').addClass('form-control');

            function showResult(){
                $('#result').css('visibility', 'visible');
                $('#result').addClass('animated slideInLeft');
                $('#box').css('visibility', 'visible');
            }
            setTimeout(showResult, 2000);
        });
    </script>

</body>
</html>